@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .top-navigation {
    @apply flex flex-row items-center justify-evenly 
        bg-gray-300 dark:bg-gray-700 bg-opacity-90 
        w-full h-16 
        m-0 
        shadow-lg;
  }

  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .scroll-to-top.visible {
    opacity: 1;
  }

  .arrow {
    width: 40px;
    height: 40px;
    background-color: #161618; /* Set the background color for the circle */
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .nw-img {
    width: 36px;
    height: 22px;
  }

  .nw-margin {
    margin-top: 28px;
  }

  .nw-width {
    width: 140px;
  }
  .nw-image {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 100%;
  }

  /* Add these styles to your CSS or stylesheet file */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4a5568 #cbd5e0;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    border-radius: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #cbd5e0;
  }

  .news-navbar {
    margin-top: -22px;
  }
  .news-navbar-sec {
    margin-top: 16px;
    padding: 0px;
  }

  .news-country-drop {
    margin-left: -18px;
    width: 110px;
  }

  .nw-logo {
    margin-left: 10px;
    margin-top: 15px;
  }

  .nw-btn {
    margin-top: 80px;
  }
  .nw-card {
    border-left: 1px solid;
    border-top: 1px solid;
    @apply border-black;
    background: #fff;
  }
}

@layer base {
  body {
    margin: auto;
    overflow-x: clip;
    font-family: "Inter", sans-serif;
    /* background-image: linear-gradient(#ebe7f7 1px, transparent 1px),
      linear-gradient(to right, #ebe7f7 2px, #fff 2px);
    background-size: 51px 51px; */
  }
  .dark:root {
    --app-container: #1f1d2b;
    --app-container: #111827;
    --main-color: #fff;
    --secondary-color: rgba(255, 255, 255, 0.8);
    --projects-section: #1f2937;
    --link-color: rgba(255, 255, 255, 0.8);
    --link-color-hover: rgba(195, 207, 244, 0.1);
    --link-color-active-bg: rgba(195, 207, 244, 0.2);
    --button-bg: #1f2937;
    --search-area-bg: #1f2937;
    --message-box-hover: #243244;
    --message-box-border: rgba(255, 255, 255, 0.1);
    --star: #ffd92c;
    --light-font: rgba(255, 255, 255, 0.8);
    --more-list-bg: #2f3142;
    --more-list-bg-hover: rgba(195, 207, 244, 0.1);
    --more-list-shadow: rgba(195, 207, 244, 0.1);
    --message-btn: rgba(195, 207, 244, 0.1);
  }

  @keyframes typeWriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}
