/* @import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .top-navigation {
    @apply flex flex-row items-center justify-evenly 
        bg-gray-300 dark:bg-gray-700 bg-opacity-90 
        w-full h-16 
        m-0 
        shadow-lg;
  }

  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .scroll-to-top.visible {
    opacity: 1;
  }

  .arrow {
    width: 40px;
    height: 40px;
    background-color: #161618; /* Set the background color for the circle */
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  /* @media (min-width: 640px) {
    .news-sm-modal {
      margin-top: 40px;
      @apply absolute z-50 top-[15px] bottom-0 left-0;
    }
  } */

  /* .news-list::-webkit-scrollbar {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
    background-color: rgb(160, 24, 24);
  } */

  .nw-margin {
    margin-top: 28px;
  }

  .nw-width {
    width: 140px;
  }
  .nw-image {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 100%;
  }

  /* Add these styles to your CSS or stylesheet file */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4a5568 #cbd5e0;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    border-radius: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #cbd5e0;
  }

  .news-navbar {
    margin-top: -22px;
  }
  .news-navbar-sec {
    margin-top: 16px;
    padding: 0px;
    right: 17px;
  }

  /* .news-navbar-sec {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; 
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  } */

  /* .news-navbar-sec::-webkit-scrollbar {
    width: 10px;
  } */

  /* .news-navbar-sec::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;
    border-radius: 5px;
  }

  .news-navbar-sec::-webkit-scrollbar-track {
    background-color: transparent;
  } */
}

@layer base {
  body {
    margin: auto;
    overflow-x: clip;
    font-family: "Times New Roman", Times, serif;
  }
  .dark:root {
    --app-container: #1f1d2b;
    --app-container: #111827;
    --main-color: #fff;
    --secondary-color: rgba(255, 255, 255, 0.8);
    --projects-section: #1f2937;
    --link-color: rgba(255, 255, 255, 0.8);
    --link-color-hover: rgba(195, 207, 244, 0.1);
    --link-color-active-bg: rgba(195, 207, 244, 0.2);
    --button-bg: #1f2937;
    --search-area-bg: #1f2937;
    --message-box-hover: #243244;
    --message-box-border: rgba(255, 255, 255, 0.1);
    --star: #ffd92c;
    --light-font: rgba(255, 255, 255, 0.8);
    --more-list-bg: #2f3142;
    --more-list-bg-hover: rgba(195, 207, 244, 0.1);
    --more-list-shadow: rgba(195, 207, 244, 0.1);
    --message-btn: rgba(195, 207, 244, 0.1);
  }

  @keyframes typeWriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}
